Flask==2.2.2
Flask-Cors==3.0.10
Flask-WTF==1.0.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
jsonschema-lint==0.1.0   
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy==1.22.3
panda==0.3.1
pandas==1.4.1
requests==2.27.1
requests-oauthlib==1.3.1
scikit-learn==1.1.1
scikit-multilearn==0.2.0
scipy==1.8.1
seaborn==0.11.2
sklearn==0.0
